<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Books</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <main>
        <div class="mobile-container2">
            <%- include('layouts/header'); %>
        
            <h1>(<%= results.length; %>)Saved Books</h1>
            <div id="results">
                <% results.forEach(item => { %>
                <section>
                    <img src= <%= item.image %> alt="">
                   
                    <a href="books/<%= item.id%>"> <button>view details</button></a>
                </section>
                <% }) %>
            </div>
        </div>

    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script src="app.js"></script>
</body>

</html>